// Specific CSS for your home-page

h1, h2, h3 {
  font-family: proxima-soft, sans-serif;
  font-style: black;
  color: #3C3C3C;
}

h1 {
  font-weight: 48px;
}

h2 {
  font-weight: 40px;
}

body {
  font-family: asap, sans-serif;
  font-weight: 20px;
  font-style: normal;
  color: #3C3C3C;
}
