<%= simple_form_for([@pet, @booking]) do |f| %>
  <div class="dates">
    <div class="form-inputs">
      <div class="form-row">
        <%= f.input :start_date, as: :string, label: "Merci de choisir un jour :", placeholder: "JJ/MM/YYYY", wrapper_html: { class: "inline_field_wrapper" } %>
      </div>
    </div>
  </div><br>
  <div class="form-row">
    <%= f.submit "Je veux #{@pet.name}!" , class: "btn btn-flat"  %>
  </div>
<% end %>


